.devicons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
}
