.l-main {
  margin: 4rem auto;
  background-color: var(--background-transparent);
  border-radius: 1rem;
  box-shadow: 0 0 1px 1rem var(--background-transparent);

  &__toggle-theme {
    position: fixed;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    text-align: right;
  }
}
