.post {
  &__footer {
    padding: 2rem;
    margin-top: 2rem;
    font-weight: bold;
    color: var(--orange);
    text-align: center;
  }

  &__header {
    margin: 2rem auto;
    font-weight: bold;
    text-shadow: 0 0 5px var(--background-transparent);
    background-size: cover;
    border-radius: 1rem;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 50vh;
      padding: 1rem;
      text-align: right;
      background: var(--background-transparent);
      border-radius: 1rem;
      box-shadow: var(--box-shadow-pop);
      backdrop-filter: blur(6.7px);
      transition: opacity var(--animation);
    }
  }

  &__title {
    text-align: center;
  }

  &__date {
    font-size: 1rem;
    text-align: right;
    text-decoration: dotted;
  }

  &__credit {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    font-size: 0.9rem;
  }
}
