.card {
  // stylelint-disable-next-line
  margin-bottom: 2rem !important;
  list-style-type: none;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    text-align: center;
    text-decoration: none !important;
    background-color: var(--background);
    border-radius: var(--border-radius);
  }

  &__image {
    min-width: 25%;
    margin-right: auto;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .dark &__title {
    color: var(--grey-light);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    padding: 1rem !important;
  }

  &__date {
    text-align: right;
  }
}

.card-listing {
  padding: 0;
}
