.card {
  // stylelint-disable-next-line
  @extend .hero;

  padding: 1rem !important;
  margin-bottom: 2rem !important;
  list-style-type: none;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    text-decoration: none !important;
  }

  &__image {
    min-width: 25%;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .dark &__title {
    color: var(--grey-light);
  }

  &__date {
    text-align: right;
  }
}

.card-listing {
  padding: 0;
}
