.hero {
  padding: 1px 1rem 1.5rem;
  margin: auto;
  background-color: var(--background-transparent);
  border-radius: 1rem;
  box-shadow: 0 0 1px currentcolor;
  cursor: pointer;
  text-align: center;
  transition: all var(--animation);

  &:hover {
    transform: scale(101%);
  }

  &__image {
    margin: auto;
    border-radius: 1rem;
  }

  &__text {
    margin-top: 1rem;
    font-size: var(--text-lg);
  }
}
