$hero: hero;

.#{$hero} {
  padding: 1px 1rem 1.5rem;
  margin: auto;
  text-align: center;
  background-color: var(--background-transparent);
  border-radius: 1rem;
  box-shadow: 0 0 1px currentcolor;
  transition: all var(--animation);
  cursor: pointer;

  &--gradient {
    color: var(--black);
    background: var(--gradient);

    .#{$hero}__title {
      color: var(--black);
    }
  }

  &:hover {
    transform: scale(101%);
  }

  &__image {
    margin: auto;
    border-radius: 1rem;
  }

  &__text {
    margin-top: 1rem;
    font-size: var(--text-lg);
  }
}
