.link {
  position: relative;
  text-decoration: none;
  transition: color var(--animation);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    border-bottom: 0.125rem solid currentcolor;
    transition: var(--animation);
    transition-property: left, width;
  }

  &:hover {
    color: var(--links-hover);
    text-decoration: none;

    &::after {
      left: 0;
      width: 100%;
    }
  }
}
