.list {
  position: relative;
  padding-left: 1.75rem;
  margin: 0;
  list-style-type: none;

  @media (min-width: 500px) {
    width: auto;
  }

  &__item {
    padding-bottom: 1rem;

    &::before {
      content: ">";
      position: absolute;
      left: 0;
      margin-right: 0.25rem;
    }

    &--box::before {
      content: "\2610";
    }

    &--check::before {
      content: "\2611";
    }

    &--cross::before {
      content: "\2612";
    }

    &--star::before {
      content: "\2606";
    }
  }
}
