:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
code,
pre,
.dev-icon {
  font-family: "Space Mono", monospace !important;
}

button,
input,
textarea {
  box-shadow: var(--box-shadow-pop);
}

code {
  background: var(--grey-light);
}

main {
  border: 1px solid var(--border);
  border-right-width: 0;
  border-left-width: 0;
}

.disabled {
  opacity: 0.5;
  transition: opacity var(--animation);
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none; /* Safari */
  user-select: none; /* Konqueror HTML */
  user-select: none; /* Old versions of Firefox */
  user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
