:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Itallic.ttf");
  font-style: italic, oblique;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-BoldItallic.ttf");
  font-style: italic, oblique;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Atkinson Hyperlegible",  sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Metrophobic, sans-serif;
}

code,
pre,
.dev-icon {
  font-family: "Space Mono", monospace !important;
}

button,
input,
textarea {
  &:hover,
  &:focus,
  &:active {
    box-shadow: var(--box-shadow-pop);
  }
}

code {
  background: var(--grey-light);

  .dark & {
    background: var(--black);
  }
}

main {
  border: 1px solid var(--border);
  border-right-width: 0;
  border-left-width: 0;
}

.disabled {
  opacity: 0.5;
  transition: opacity var(--animation);
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;
}
