:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
code,
pre,
.dev-icon {
  font-family: 'Space Mono', monospace !important;
}

button {
  box-shadow: 0 0 1px currentcolor;
}

code {
  background: var(--grey-light);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity var(--animation);
}

/*
.alert {
  @apply border  px-4 py-3 mt-5 rounded relative;
  @apply bg-blue-100  border-blue-400 text-blue-700;
}

.alert.error {
  @apply bg-red-100  border-red-400 text-red-700;
}

.alert.success {
  @apply bg-teal-100  border-teal-400 text-teal-700;
}
*/
