/*
  Theme options from Water.css:
  --background-body
  --background
  --background-alt
  --selection
  --text-main
  --text-bright
  --text-muted
  --text-sm
  --text-md
  --text-lg
  --text-xl
  --links
  --focus
  --border
  --code
  --animation-duration
  --button-hover
  --scrollbar-thumb
  --scrollbar-thumb-hover
  --form-placeholder
  --form-text
  --variable
  --highlight
  --select-arrow
*/

:root {
  --black: #0f0f0a;
  --blue: #377480;
  --green: #405712;
  --grey-dark: slategray;
  --grey-light: #6c6c69;
  --orange: #fd971f;
  --pink: #df2467;
  --pink-dark: #d52563;
  --purple: #ae81ff;
  --white: #fdfde2;
  --yellow: #fff37f;
  --yellow-dark: #c0b01c;
  --animation-duration: 0.2s;
  --animation: var(--animation-duration) ease-in-out;
  --code: var(--yellow);
  --border: var(--text-main);
  --button-base: var(--background);
  --background-transparent: rgb(255 255 255 / 50%);
  --background: var(--white);
  --gradient: linear-gradient(
    to right top,
    #ff2976,
    #eb5bc0,
    #b889f3,
    #78aaff,
    #4cc2ff,
    #00cefc,
    #00d9f0,
    #00e2de,
    #00e6c2,
    #3be89a,
    #73e76a,
    #a6e22e
  );
  --links: var(--pink);
  --links-hover: var(--blue);
  --scrollbar-thumb: var(--pink-dark);
  --scrollbar-thumb-hover: var(--pink);
  --text-bright: var(--blue);
  --text-lg: 1.25rem;
  --text-md: 1rem;
  --text-muted: var(--grey-dark);
  --text-sm: 0.75rem;
  --text-xl: 1.5rem;
}

.dark {
  --blue: #66d9ef;
  --green: #a6e22e;
  --grey-dark: #a9b1ba;
  --grey-light: #f8f8f2;
  --orange: #fd971f;
  --pink: #ff2976;
  --pink-dark: #d52563;
  --purple: #ae81ff;
  --yellow: #e6db74;
  --background: var(--black);
  --background-body: #1f1f1b;
  --background-transparent: rgb(0 0 0 / 60%);
  --gradient: linear-gradient(
    to right top,
    #df2467,
    #bf4299,
    #8b5eb4,
    #4e6eb6,
    #1d75a4,
    #007594,
    #007381,
    #1a706e,
    #146c5b,
    #216644,
    #315f2c,
    #405712
  );
  --links: var(--green);
  --links-hover: var(--pink);
  --text-muted: var(--grey-dark);
}

html {
  font-size: 18px;
}

body {
  overflow: auto;
  height: 100vh;
  background-attachment: fixed;
  background-image: var(--gradient);
  background-position: center;
  background-repeat: no-repeat;
  font-family: Metrophobic, sans-serif;
  word-break: break-word;
}
