/*
  Theme options from Water.css:
  --background-body
  --background
  --background-alt
  --selection
  --text-main
  --text-bright
  --text-muted
  --text-sm
  --text-md
  --text-lg
  --text-xl
  --links
  --focus
  --border
  --code
  --animation-duration
  --button-hover
  --scrollbar-thumb
  --scrollbar-thumb-hover
  --form-placeholder
  --form-text
  --variable
  --highlight
  --select-arrow
*/

:root {
  --black: #0f0f0a;
  --blue: #377480;
  --green: #405712;
  --grey-dark: slategray;
  --grey-light: #6c6c69;
  --orange: #ca740f;
  --pink: #df2467;
  --pink-dark: #d52563;
  --purple: #ae81ff;
  --white: #effdf9;
  --yellow: #fff37f;
  --yellow-dark: #c0b01c;
  --animation-duration: 0.2s;
  --animation: var(--animation-duration) ease-in-out;
  --code: var(--yellow);
  --border: var(--text-main);
  --background: var(--white);
  --background-transparent: rgb(255 255 255 / 70%);
  --box-shadow-pop: 0 0 5px var(--blue);
  --button-base: var(--background);
  --button-hover: var(--background);
  --gradient: linear-gradient(
    to right top,
    #ff2976,
    #eb5bc0,
    #b889f3,
    #78aaff,
    #4cc2ff,
    #00cefc,
    #00d9f0,
    #00e2de,
    #00e6c2,
    #3be89a,
    #73e76a,
    #a6e22e
  );
  --links: var(--pink);
  --links-hover: var(--blue);
  --scrollbar-thumb: var(--pink-dark);
  --scrollbar-thumb-hover: var(--pink);
  --text-bright: var(--blue);
  --text-lg: 1.25rem;
  --text-md: 1rem;
  --text-muted: var(--grey-dark);
  --text-sm: 0.75rem;
  --text-xl: 1.5rem;
}

.dark {
  --blue: #66d9ef;
  --green: #a6e22e;
  --grey-dark: #a9b1ba;
  --grey-light: #f8f8f2;
  --orange: #fd971f;
  --pink: #ff2976;
  --pink-dark: #d52563;
  --purple: #ae81ff;
  --yellow: #e6db74;
  --background: var(--black);
  --background-body: #1f1f1b;
  --background-transparent: rgb(0 0 0 / 70%);
  --links: var(--green);
  --links-hover: var(--pink);
  --text-muted: var(--grey-dark);
}

body {
  height: 100vh;
  overflow: auto;
  font-family: Metrophobic, sans-serif;
  font-size: 1.25em;
  line-height: 1.75;
  word-break: break-word;
  background-attachment: fixed;
  background-image: var(--gradient);
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--background-transparent);
  }
}
