.footer {
  padding: 2rem 0;

  a {
    display: inline-block;
  }

  &__copyright {
    text-align: center;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
