.footer {
  padding: 2rem 0;
  font-size: 1rem;

  a {
    display: inline-block;
  }

  &__copyright {
    text-align: center;
  }

  &__links {
    margin-bottom: 5rem;

    &--column {
      display: inline-block;
      width: 100%;
      max-width: 50%;

      @media screen and (max-width: $viewport-small) {
        max-width: 100%;
      }
    }

    &--row {
      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;

        li {
          margin-left: 2.5rem;
        }

        p {
          margin: 0;
        }

        @media screen and (max-width: $viewport-small) {
          display: block;
        }
      }
    }
  }
}
